<form
id="login-form"
class = "closeForm"
>
<label>Please, enter your username to join the chat.</label>
<input
    id = "username-input"
    name = "username"
/>
<label
    id="login-error"
    class = "hideLoginError"
>That username is already in use.</label>
<button 
    type = "submit">Submit</button>
</form>


