<form
id="login-form"
class = "closeForm"
>
<label>Please, enter your username to join the chat.</label>
<input
    id = "username-input"
    name = "username"
/>
<button 
    type = "submit">Submit</button>
</form>


