<div id = "MobileMenu" class = "closed-menu">	
    <div
        id="MenuHeader"
    ></div>
	<div 
        id = "logout-link"
        class = "menu-link"
		onclick = {Logout()}
		>Logout</div>
	<div 
        class = "menu-link"
		onclick="closeMobileMenu()">Close Menu</div>
    <div
        id="online-list-wrapper"
    >
        <label>Users currently in the chat room.</label>   
        <ul id = "online-list"></ul>
    </div>
</div>

