<nav
    id = "navigation"
>
    <div
        id = "navigation-content"
    >
        <% if(title){ %>
            <label><%= title %></label>
        <% } %>
        <div
            id = "burger-icon"
            onClick = {openMenu()}
        >
            <img 
                src = "/assets/icons/Hamburger_icon.png"
            />
        </div>
    </div>
</nav>