<div  
    id="notifications"
>
    <div
    id="notification-header"
    >Notifications</div>          
    <div
    id="notification-body"
    class = "notification-body-closed"
    >

    </div>        
</div>