<div
    class="notification-message"
>
    <p>Albert343423433434 wants to chat</p>
    <div>
        <button 
            class = "btn-primary"
        >Accept</button> 
        <button 
            class = "btn-secondary"
        >Ignore</button> 
    </div>
</div>